.blog-container {
  padding: 8% 5%;
  text-align: left;
}

.blog-container h1 {
  color: #8fc0a9;
}

.blog-container .lead {
  color: #8fc0a9;
  font-weight: 400;
}

.blog-container img {
  width: 400px;
  height: auto;
}

@media (max-width: 1000px) {
  .blog-container {
    padding: 18% 5%;
  }
}
