body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: center;
  --select-height: 50px;
}

html {
  scroll-padding-top: 70px;
}

h3 {
  font-weight: 500;
}

h1 {
  color: #fff;
}

p {
  color: #8f8f8f;
}

/* containers */

.container-fluid {
  position: relative;
  z-index: 0;
  padding: 3% 5%;
}

.container {
  padding: 0;
  margin: 0;
}

/* Sections */

.main-section {
  height: 600px;
  background-image: url('../images/workout.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#features hr {
  border: 1px solid grey;
  border-bottom: none;
  width: 100%;
}

/* Headings */

.main-heading {
  padding-top: 250px;
  font-size: 2rem;
  line-height: 1.2;
}

#title p {
  color: #fff;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 500;
}

/* Navigation Bar */

.navbar {
  padding: 7px 30px;
  background: rgba(0, 0, 0, 0.85);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 200;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

/* Features section */

#features {
  position: relative;
}

.feature-heading {
  color: #8fc0a9;
}

.feature-title {
  font-size: 1.5rem;
  color: #8fc0a9;
}

.feature-box {
  padding: 3%;
}

#features .fas {
  font-size: 45px;
  margin-bottom: 1rem;
  color: #8fc0a9;
}

#features .fas:hover {
  color: #68b0ab;
}

/* Pricing section */

.card-header {
  background-color: #8fc0a9;
}

.card-header h5 {
  color: #fff;
}

.price-text {
  color: #8fc0a9;
}

/* Carousel section */

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-item .fitness-image {
  width: 55%;
  height: auto;
  border-radius: 50%;
}

/* Contact form   */

.contact {
  /* padding: 30px 40px; */
  padding: 3% 5%;
}

.contact h3 {
  color: grey;
  font-size: 24px;
}

.contact .form-control {
  margin-bottom: 0px;
  position: relative;
  padding: 0;
  border-style: none;
}

.contact .contact-form .form-control input,
.contact .contact-form .form-control textarea {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  width: 100%;
  padding: 10px;
  margin: 10px 0 10px 0;
  font-size: 14px;
  text-align: center;
  color: #808080;
  display: block;
}

.contact .contact-form .form-control select {
  /* border: 2px solid #f0f0f0;
  border-radius: 4px;
  width: 100%;
  padding: 10px;
  margin: 10px 0 10px 0;
  font-size: 14px;
  color: #808080;
  display: block; */

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align-last: center;
  text-align: center;
  -ms-text-align-last: center;
  -moz-text-align-last: center;
}

.contact .form-control input:focus,
.contact .form-control select:focus,
.contact .form-control textarea:focus {
  outline: 0;
  border-color: #777;
}

.contact .contact-form .form-control textarea {
  /* height: 100%; */
  overflow: auto;
  display: block;
  resize: none;
  margin: 20px 0;
}

.contact-form button {
  /* position: relative; */
  width: 100%;
  margin-top: 40px;
  display: block;
  background-color: #8fc0a9;
  border-style: none;
}

.contact button {
  cursor: pointer;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  padding: 10px;
}

.contact button:hover {
  background-color: #68b0ab;
}

.contact .form-control.success input {
  border-color: var(--success-color);
}

.contact .form-control.error input {
  border-color: var(--error-color);
}

.contact .form-control small {
  color: var(--error-color);
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.contact .form-control.error small {
  visibility: visible;
}

.contact-form small {
  color: grey;
  visibility: hidden;
}

.contact-form.sent small {
  visibility: visible;
}

/* newsletter  */

.newsletter {
  padding: 20px;
  text-align: center;
  margin-top: 50px;
}

.newsletter h3 {
  color: grey;
  font-size: 24px;
}

.form-inline {
  display: inline-block;
}

.newsletter .form-control input {
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  padding: 10px;
  font-size: 12px;
  text-align: center;
}

.newsletter .form-control input::placeholder {
  overflow: visible;
}

.newsletter .fas {
  font-size: 20px;
  color: #8fc0a9;
}

.newsletter .fas:hover {
  color: #fff;
}

.newsletter button {
  margin-top: 40px auto;
  display: inline-block;
  outline: 0;
  color: #fff;
  border-style: none;
}

/* Footer section */

#footer {
  color: white;
  background-color: #000;
  font-size: 14px;
}

#footer p {
  color: white;
  font-size: 14px;
}

#footer i {
  padding: 5px 5px 0;
  color: #fff;
  font-size: 18px;
}

#footer ul {
  list-style: none;
  padding: 0;
}

#footer li {
  display: inline-block;
  text-align: center;
}

/* new select */

.label {
  position: relative;
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  width: 100%;
  padding: 0 10px;
  margin: 10px 0 0 0;
  font-size: 14px;
  color: #808080;
  display: block;
}

.select {
  -webkit-appearance: none;
  border: 0;
  width: 100%;
  height: var(--select-height);
}

.span {
  background: #fff;
  border-bottom: 1px solid #ccc;
  line-height: var(--select-height);
  pointer-events: none;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

/* .select:focus + .span {
  border-bottom-color: grey;
} */

@media (max-width: 1000px) {
  #carousel {
    display: none;
  }

  .nav-item .nav-link {
    text-align: left;
  }
}

@media (max-width: 1600px) {
  .newsletter {
    padding: 20px 0;
  }

  .newsletter .form-inline {
    display: block;
    width: 100%;
  }

  .newsletter .form-control input,
  .newsletter .form-control button {
    display: block;
    width: 100%;
    margin-top: 12px;
  }

  .newsletter .form-control button {
    background-color: #8fc0a9;
  }

  .newsletter .form-control button:hover {
    background-color: #68b0ab;
  }

  .newsletter .fas {
    color: #fff;
  }
}

@media (max-width: 1000px) {
  html {
    scroll-padding-top: 220px;
  }
}
