body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align:center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

p {
  color: #8f8f8f;
}

/* containers */

.container-fluid {
  padding: 7% 15%;
  position:relative;
  z-index:0;
}

/* Sections */

.colored-section {
  background-color: #ff4c68;
}

.white-section {
    background-color: #fff;
}

/* Headings */

.main-heading {
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 10px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 200;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

/* Title section */


#title .container-fluid {
  padding: 3% 15% 7%;
  color: #fff;
  text-align: left;
}

.main-image {
  width: 70%;
  transform: rotate(20deg);
  padding: 20px 0px 25px 25px;;
  position:absolute;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.transparent {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}

.btn {
  margin-right: 10px;
}

/* Features section */

#features {
  position:relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

#features .fas {
  font-size: 45px;
  margin-bottom: 1rem;
  color: #e97171;
}

#features .fas:hover {
  color: #dd2c00;
}

/* Testimonials section */

#testimonials {
  color: #fff;
  background-color: #ef8172;
}
.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item{
}

/* Press section */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 15px;
}

/* Pricing section */
#pricing {
}

.price-text {
  font-size: 3rem;
}

.pricing-column {
  padding: 3% 3%;
}

.download-button {
  margin: 5% 3% 5% 0;
}

/* footer section */
#footer {
  font-size: 14px;
}

#footer i {
  padding: 5px 5px 15px;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .main-image {
    position:static;
    transform:rotate(0);
  }
}
