body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

h1 {
  color: #fff;
}

p {
  color: #8f8f8f;
}

/* containers */

.container-fluid {
  padding: 6% 15%;
  position: relative;
  z-index: 0;
}

#footer .container-fluid {
  padding: 3% 15%;
  position: relative;
  z-index: 0;
}

/* Sections */

.main-section {
  height: 600px;
  background-image: url('/images/workout.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.intro {
  margin-top: 275px;
}

hr {
  border: 1px solid #fff;
  width: 88%;
}

/* Headings */

.main-heading {
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1.5;
}

#title p {
  color: #fff;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Navigation Bar */

.navbar {
  padding: 7px 15px;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
}

.nav-item {
  padding: 0 10px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 200;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

/* Title section */

/* Features section */

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

#features .fas {
  font-size: 45px;
  margin-bottom: 1rem;
  color: #8fc0a9;
}

#features .fas:hover {
  color: #68b0ab;
}

/* Carousel section */

#carousel {
}

.testimonial-image {
  width: 70%;
  margin: 20px;
}

.carousel-item .testimonial-image {
  width: 50%;
  height: auto;
  border-radius: 50%;
}

/* cta  */

#cta {
  background-color: #8fc0a9;
}

#cta p {
  color: #fff;
}

/* footer section */

#footer {
  color: white;
  background-color: #000;
  font-size: 14px;
}

#footer p {
  color: white;
}

#footer i {
  padding: 5px 5px 15px;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  #carousel {
    display: none;
  }
}
