body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: center;
}

h3 {
  font-weight: 500;
}

h1 {
  color: #fff;
}

p {
  color: #8f8f8f;
}

/* containers */

.container-fluid {
  padding: 6% 10%;
  position: relative;
  z-index: 0;
}

#footer .container-fluid {
  padding: 3% 15%;
  position: relative;
  z-index: 0;
}

#contact .container-fluid {
  background-color: #fff;
  border-radius: 5px;
  padding: 3% 9%;
}

/* Sections */

.main-section {
  height: 600px;
  background-image: url('../images/workout.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

hr {
  border: 1px solid #fff;
  width: 88%;
}

#features hr {
  border: 1px solid grey;
  border-bottom: none;
  width: 80%;
}

/* Headings */

.main-heading {
  padding-top: 250px;
  font-size: 2rem;
  line-height: 1.2;
}

#title p {
  color: #fff;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 500;
}

/* Navigation Bar */

.navbar {
  padding: 7px 30px;
  background: rgba(0, 0, 0, 0.85);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 200;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

/* Features section */

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 3%;
}

#features .fas {
  font-size: 45px;
  margin-bottom: 1rem;
  color: #8fc0a9;
}

#features .fas:hover {
  color: #68b0ab;
}

/* Pricing section */

.card-body button:hover {
  background-color: #8fc0a9;
  color: #fff;
}

.card-body button {
  width: 150px;
  margin: auto;
}

/* Carousel section */

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-item .fitness-image {
  width: 55%;
  height: auto;
  border-radius: 50%;
}

/* Contact form   */

.contact {
  padding: 30px 40px;
}

.contact h3 {
  color: grey;
  font-size: 24px;
}

.contact .form-control {
  margin-bottom: 10px;
  position: relative;
  padding: 0;
  border-style: none;
}

.contact .contact-form .form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  text-align: center;
}

.contact .form-control textarea {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  /* overflow: auto; */
}

.contact .form-control input:focus,
.contact .form-control textarea:focus {
  outline: 0;
  border-color: #777;
}

.contact .form-control.success input {
  border-color: var(--success-color);
}

.contact .form-control.error input {
  border-color: var(--error-color);
}

.contact .form-control small {
  color: var(--error-color);
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.contact .form-control.error small {
  visibility: visible;
}

.contact button {
  cursor: pointer;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  padding: 10px;
}

.contact-form button {
  width: 100%;
  margin-top: 40px;
  display: block;
  background-color: #8fc0a9;
  border-style: none;
}

.contact-form button:hover {
  background-color: #68b0ab;
}

/* newsletter  */

.newsletter {
  padding: 20px;
  text-align: center;
  margin-top: 50px;
}

.newsletter h3 {
  color: grey;
  font-size: 24px;
}

.form-inline {
  display: inline-block;
}

.newsletter .form-control input,
.newsletter .form-control button {
  /* margin: 0 auto; */
}

.newsletter .form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  width: 350px;
  padding: 10px;
  font-size: 14px;
  text-align: center;
}

.newsletter .fas {
  font-size: 24px;
  color: #8fc0a9;
}

.newsletter .fas:hover {
  color: #68b0ab;
}

.newsletter button {
  margin-top: 40px;
  margin: auto;
  display: inline-block;
  outline: 0;
  background-color: #fff;
  border-style: none;
}

/* Footer section */

#footer {
  color: white;
  background-color: #000;
  font-size: 14px;
}

#footer p {
  color: white;
  font-size: 14px;
}

#footer i {
  padding: 5px 5px 0;
  color: #fff;
  font-size: 18px;
}

#footer ul {
  list-style: none;
  padding: 0;
}

#footer li {
  display: inline-block;
  text-align: center;
}

@media (max-width: 1028px) {
  #carousel {
    display: none;
  }

  .nav-item .nav-link {
    text-align: left;
  }
}

@media (max-width: 550px) {
  .form-inline {
    margin: 0 auto;
  }

  .newsletter .form-control input {
    width: 300px;
    padding: 5px 0;
  }

  .newsletter .form-control button {
    padding: 5px 0;
  }
}
