body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

h1 {
  color: #fff;
}

p {
  color: #8f8f8f;
}

/* containers */

.container-fluid {
  padding: 6% 15%;
  position: relative;
  z-index: 0;
}

#footer .container-fluid {
  padding: 3% 15%;
  position: relative;
  z-index: 0;
}

/* Sections */

.main-section {
  height: 600px;
  background-image: url('/images/workout.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.intro {
  margin-top: 275px;
}

hr {
  border: 1px solid #fff;
  width: 88%;
}

/* Headings */

.main-heading {
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1.5;
}

#title p {
  color: #fff;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Navigation Bar */

.navbar {
  padding: 7px 15px;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
}

/* .nav-item {
  padding: 0 10px;
} */

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 200;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

/* Title section */

/* Features section */

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

#features .fas {
  font-size: 45px;
  margin-bottom: 1rem;
  color: #8fc0a9;
}

#features .fas:hover {
  color: #68b0ab;
}

/* Carousel section */

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.fitness-image {
  width: 70%;
  margin: 20px;
}

.carousel-item .fitness-image {
  width: 50%;
  height: auto;
  border-radius: 50%;
}

/* cta  */

#cta {
  background-color: #8fc0a9;
}

#cta p {
  color: #fff;
}

.newsletter-email input {
  margin: auto;
  padding: 9px 0;
  width: 65%;
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
}

.newsletter-button input {
  background-color: #68b0ab;
  font-size: 14px;
  padding: 8px 9px;
  border-radius: 10px;
  color: #fff;
  border: 1px solid grey;
}

.newsletter-button input:hover {
  background-color: grey;
}
/* footer section */

#footer {
  color: white;
  background-color: #000;
  font-size: 14px;
}

#footer p {
  color: white;
  font-size: 14px;
}

#footer i {
  padding: 5px 5px 0;
  color: #fff;
  font-size: 18px;
}

#footer ul {
  list-style: none;
  padding: 0;
}

#footer li {
  display: inline-block;
  text-align: center;
}

@media (max-width: 1028px) {
  #carousel {
    display: none;
  }
}
